.idea
target
atlassian-ide-plugin.xml
dependency-reduced-pom.xml
pom.xml.versionsBackup
logs
*.iml
*.ipr
#Eclipse-specific
.settings/
.classpath
.project
docs/.Python
docs/bin
docs/include/python2.7
docs/lib/python2.7
