# Maven
target/
dependency-reduced-pom.xml
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
.classpath
.project

# VSCode
.vscode

nb-configuration.xml
atlassian-ide-plugin.xml

logs

.DS_Store
