<html>
    <head>
      <link rel="stylesheet" href="/assets/pure-min.css">
    </head>
    <body>
        <h1>Hello, {{person.fullName}}!</h1>
        You are an awesome {{person.jobTitle}}!
    </body>
</html>
