body {
    padding-top: 60px;
}

#blurb {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    padding: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#blurb h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#blurb p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}
