<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="index.html">Dropwizard</a>
            <ul class="nav">
                <% for p in site.pages %>
                  <% if p.url == page.url %>
                  <li class="active"><a href="<%= p.url %>"><%= p.title%></a></li>
                  <% else %>
                  <li><a href="<%= p.url %>"><%= p.title%></a></li>
                  <% end %>
                <% end %>
                <li><a href="https://groups.google.com/forum/?hl=en#!forum/dropwizard-user">Mailing List</a></li>
                <li><a href="https://github.com/codahale/dropwizard">Code</a></li>
            </ul>
        </div>
    </div>
</div>