<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dropwizard</title>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/additional.css">
</head>

<body>

<%= partial :toolbar %>

<div class="container">

    <div class="content">
        <div id="blurb" class="row">
            <div class="span3">
                <img src="images/dropwizard-hat.png">
            </div>
            <div class="span12">
                
                <%= page.content %>

                <p><a class="btn primary large" href="getting-started.html">Get
                    started &raquo;</a></p>

            </div>
        </div>

        <footer>
            <p>&copy; Yammer 2011-2012</p>
        </footer>
    </div>
</div>

</body>
</html>
