body {
    padding-top: 60px;
}

#blurb {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    padding: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#blurb h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#blurb p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}

pre {
  overflow: scroll;
  background-color: #f5f5f5;
  padding: 9px;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
          box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
pre .c{color:#998;font-style:italic;}pre .err{color:#a61717;background-color:#e3d2d2;}pre .k{font-weight:bold;}pre .o{font-weight:bold;}pre .cm{color:#998;font-style:italic;}pre .cp{color:#999;font-weight:bold;}pre .c1{color:#998;font-style:italic;}pre .cs{color:#999;font-weight:bold;font-style:italic;}pre .gd{color:#000;background-color:#fdd;}pre .gd .x{color:#000;background-color:#faa;}pre .ge{font-style:italic;}pre .gr{color:#a00;}pre .gh{color:#999;}pre .gi{color:#000;background-color:#dfd;}pre .gi .x{color:#000;background-color:#afa;}pre .go{color:#888;}pre .gp{color:#555;}pre .gs{font-weight:bold;}pre .gu{color:#aaa;}pre .gt{color:#a00;}pre .kc{font-weight:bold;}pre .kd{font-weight:bold;}pre .kp{font-weight:bold;}pre .kr{font-weight:bold;}pre .kt{color:#458;font-weight:bold;}pre .m{color:#099;}pre .s{color:#d14;}pre .na{color:#008080;}pre .nb{color:#0086B3;}pre .nc{color:#458;font-weight:bold;}pre .no{color:#008080;}pre .ni{color:#800080;}pre .ne{color:#900;font-weight:bold;}pre .nf{color:#900;font-weight:bold;}pre .nn{color:#555;}pre .nt{color:#000080;}pre .nv{color:#008080;}pre .ow{font-weight:bold;}pre .w{color:#bbb;}pre .mf{color:#099;}pre .mh{color:#099;}pre .mi{color:#099;}pre .mo{color:#099;}pre .sb{color:#d14;}pre .sc{color:#d14;}pre .sd{color:#d14;}pre .s2{color:#d14;}pre .se{color:#d14;}pre .sh{color:#d14;}pre .si{color:#d14;}pre .sx{color:#d14;}pre .sr{color:#009926;}pre .s1{color:#d14;}pre .ss{color:#990073;}pre .bp{color:#999;}pre .vc{color:#008080;}pre .vg{color:#008080;}pre .vi{color:#008080;}pre .il{color:#099;}