name: Java CI
on:
  push:
    branches:
    - master
    - release/*
  pull_request:
    branches:
    - master
    - release/*
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java_version: ['openjdk8', 'openjdk11', 'openjdk13']
        os: ['ubuntu-latest', 'macOS-latest', 'windows-latest']
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: joschi/setup-jdk@v1
      with:
        java-version: ${{ matrix.java_version }}
    - name: Print Java and Maven versions
      run: ./mvnw -B -s .github/settings.xml -v
    - name: Build with Maven
      run: ./mvnw -B -s .github/settings.xml install -Dmaven.test.skip=true -Dmaven.javadoc.skip=true
    - name: Run tests
      run: ./mvnw -B -s .github/settings.xml verify
