name: Java CI
on:
  push:
    branches:
    - master
    - release/*
  pull_request:
    branches:
    - master
    - release/*
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java_version: ['openjdk8', 'openjdk11', 'openjdk13']
        os: ['ubuntu-latest', 'windows-latest']
    env:
      JAVA_OPTS: "-XX:+TieredCompilation -XX:TieredStopAtLevel=1"
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: joschi/setup-jdk@v1
      with:
        java-version: ${{ matrix.java_version }}
    - uses: actions/cache@v1
      if: runner.os != 'Windows'
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - uses: actions/cache@v1
      if: runner.os == 'Windows'
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**\pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Build with Maven
      run: ./mvnw -V -B -ff -s .github/settings.xml install '-Dmaven.test.skip=true' '-Dmaven.javadoc.skip=true'
    - name: Run tests
      run: ./mvnw -V -B -ff -s .github/settings.xml verify
