name: Trigger Release
on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: 'Version of the next release'
        required: true
      developmentVersion:
        description: 'Version of the next development cycle (must end in "-SNAPSHOT")'
        required: true
jobs:
  trigger-release:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: write
    env:
      JAVA_OPTS: "-XX:+TieredCompilation -XX:TieredStopAtLevel=1"
    steps:
    - uses: webfactory/ssh-agent@d4b9b8ff72958532804b70bbe600ad43b36d5f2e # v0.8.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      with:
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: Set up JDK
      uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3
      with:
        distribution: 'zulu'
        java-version: '17'
        cache: 'maven'
        server-id: ossrh
        server-username: ${{ secrets.CI_DEPLOY_USERNAME }}
        server-password: ${{ secrets.CI_DEPLOY_PASSWORD }}
        gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
    - name: Set up Git
      run: |
        git config --global committer.email "48418865+dropwizard-committers@users.noreply.github.com"
        git config --global committer.name "Dropwizard Release Action"
        git config --global author.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git config --global author.name "${GITHUB_ACTOR}"
    - name: Prepare release
      run: ./mvnw -V -B -ntp -Prelease -DreleaseVersion=${{ inputs.releaseVersion }} -DdevelopmentVersion=${{ inputs.developmentVersion }} release:prepare
    - name: Rollback on failure
      if: failure()
      run: |
        ./mvnw -B release:rollback -Prelease
        echo "You may need to manually delete the GitHub tag, if it was created."
